<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-row mb-4'>
    <div class="col col-lg-12">
      <%= form.label :email %>
      <%= form.text_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class='form-row mb-4'>
    <div class="col col-lg-6">
      <%= form.label :first_name, 'First Name' %>
      <%= form.text_field :first_name, class: 'form-control' %>
    </div>

    <div class="col col-lg-6">
      <%= form.label :last_name, 'Last Name' %>
      <%= form.text_field :last_name, class: 'form-control' %>
    </div>
  </div>

  <div class='form-row mb-4'>
    <div class="col col-lg-3">
      <%= form.label :address %>
      <%= form.text_field :address, class: 'form-control' %>
    </div>

    <div class="col col-lg-3">
      <%= form.label :city %>
      <%= form.text_field :city, class: 'form-control' %>
    </div>

    <div class="col col-lg-3">
      <%= form.label :state %>
      <%= form.select :state, us_states, { include_blank: '-- Select --' }, class: 'form-control', required: true %>
    </div>

    <div class="col col-lg-3">
      <%= form.label :zip %>
      <%= form.text_field :zip, class: 'form-control' %>
    </div>
  </div>

  <div class='form-row mb-4'>
    <div class="col col-lg-12">
      <%= form.label :phone %>
      <%= form.text_field :phone, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
