<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-row mb-4'>
    <div class="field">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>

    <div class="col col-lg-6">
      <%= form.label :manufacturer %>
      <%= form.select :manufacturer, Card.manufacturers.keys.map {|k| [k.humanize, k]}, { include_blank: '-- Select Manufacturer --' }, class: 'form-control' %>


    </div>

    <div class="col col-lg-6">
      <%= form.label :year %>
      <%= form.number_field :year, class: 'form-control', min: '1900', max: Date.today.year %>
    </div>
  </div>

  <div class='form-row mb-4'>
    <div class="col col-lg-6">
      <%= form.label :player_first_name, 'Player First Name' %>
      <%= form.text_field :player_first_name, class: 'form-control' %>
    </div>

    <div class="col col-lg-6">
      <%= form.label :player_last_name, 'Player Last Name' %>
      <%= form.text_field :player_last_name, class: 'form-control' %>
    </div>
  </div>

  <div class='form-row mb-4'>
    <div class="col col-lg-6">
      <%= form.label :series_number, 'Series Number' %>
      <%= form.text_field :series_number, class: 'form-control' %>
    </div>

    <div class="col col-lg-6">
      <%= form.label :image %>
      <%= form.file_field :image, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
