<p id="notice"><%= notice %></p>

<div class='row'>

  <div class='col col-lg-6'>
    <table class='table'>
      <thead>  
        <tr>
          <th>Owner</th>
          <th>Manufacturer</th>
          <th>Year</th>
          <th>Player</th>
          <th>Series Number</th>
          <th>Find</th>
        </tr>
      </thead>  
      <tbody>
        <tr>  
          <td><%= @card.user.full_name %></td>
          <td><%= @card.manufacturer %></td>
          <td><%= @card.year %></td>
          <td><%= @card.player_full_name %></td>
          <td><%= @card.series_number %></td>
          <td><%= link_to 'Find', ebay_finder_path(@card), class: 'btn btn-primary' %>
        </tr> 
      </tbody>  
    </table>  
  </div>

  <div class='col col-lg-6'>
      <%= image_tag @card.image, class: 'card-image' if @card.image.attached? %>
  </div>  
</div>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
