<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @card.user.full_name %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @card.manufacturer %>
</p>

<p>
  <strong>Year:</strong>
  <%= @card.year %>
</p>

<p>
  <strong>Player:</strong>
  <%= @card.player_full_name %>
</p>

<p>
  <strong>Series Number:</strong>
  <%= @card.series_number %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
